*, *:before, *:after {
  box-sizing: border-box;
  user-select: none;
}

$red: #E04B4B;
$darkRed: #ce4444;

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background: transparent;
}

p, text, span {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

@import "containers/Index";